body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #dbdbdb;
    color: white;
    padding:0.1px ;
    text-align: center;
}

nav {
    text-align: center;
    margin: 1em 0;
}

main {
    padding: 1rem;
}

main.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0rem;
    text-align: center;
}

label {
    display: block;
    margin: 0.5em 0;
}

input {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
}

button {
    padding: 0.7em;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.button {
    display:flexbox; 
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 10px;
    margin: 1px; /* Memberikan sedikit jarak antar tombol */
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    
}

.button:hover {
    background-color: #555;
}

#biayaParkir {
    margin-top: 1em;
    font-weight: bold;
}

.error {
    background-color: rgba(255, 0, 0, 0.589);
    padding: 1rem;
    margin-bottom: 0.5rem;
}

/* tiket page */
main.center div *{
    margin-bottom: 1rem;
}

/* scan page */
.input_invisible {
    display: none;
}

.render {
    border: none;
}